        .loginform {
            border-radius: 23px;
            padding: 9px 90px 61px 90px;
        }

        body {
            overflow-x: hidden;
        }

        .logindivlogintext {
            font-size: 40px;
            padding-top: 8%;
            display: flex;
            margin-bottom: 24px;
            justify-content: center;
        }

        .passwordicon {
            top: 63%;
            right: 19px;
        }

        .loginimage {
            height: 85%;
            width: 100%;
            object-fit: contain;
        }

        .errordiv {
            height: 37px;
            display: flex;
            align-items: center;
        }