        body {
            overflow-x: hidden;
        }

        .profilediv {
            height: 45px;
            background-color: #2800ff;
            width: 51px;
            border-radius: 10px;
            margin-right: 20px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 21px;
            position: relative;
        }

        .profiledivinfo {
            position: absolute;
            top: 45px;
            right: -5px;
            display: none;
            border-top: 10px solid white;
        }

        .profilediv:hover .profiledivinfo {
            display: block;
        }

        .profiledivinfo_inner {
            background: white;
            border-radius: 22px;
            box-shadow: 1px 1px 7px black;
            height: 306px;
            width: 288px;
        }

        .floatdivchar {
            height: 80px;
            width: 80px;
            background-color: #2800ff;
            border-radius: 13px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
        }

        .attendanceshow {
            padding-bottom: 16px;
            margin-left: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            width: 98%;
            margin-top: 10px;
            padding-top: 20px;
        }

    /* profile */
    .formregistaration {
        border-radius: 30px;
        padding: 20px 198px 0px 198px;
    }

    .passwordicon {
        top: 63%;
        right: 19px;
    }

    .errordiv {
        height: 45px;
        display: flex;
        align-items: center;
    }
